@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html{
    overflow-x: hidden;
}
body{
    background-color: #232323;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 105vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 35% auto;
}
@media only screen and (max-width: 600px) {  
    .grid-container{
        grid-template-columns: 100%;
    }
}

.left-grid-item{
    padding-left: 3%;
    padding-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;
}
@media only screen and (max-width: 600px) {  
    .left-grid-item{
        margin: auto;
    }
}
.right-grid-item{
    padding-left: 3%;
    padding-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0;
}
@media only screen and (max-width: 600px) {  
    .right-grid-item{
        margin: auto;
    }
}
.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 0.8s;
}
.hidden-left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.7s;
}
.hidden-right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.7s;
}
.logo{
    padding-right: 2%;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.4s;
}
.logo:nth-child(2){
    transition-delay: 150ms;
}
.logo:nth-child(3){
    transition-delay: 300ms;
}
.logo:nth-child(4){
    transition-delay: 450ms;
}
.logo:nth-child(5){
    transition-delay: 600ms;
}
.logo:nth-child(6){
    transition-delay: 750ms;
}
.logo:nth-child(7){
    transition-delay: 900ms;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

